@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Home Page";
    
}

<!-- Header-->
</header>
<!-- Filter Section -->
<section class="py-3 filter-bar">
    <div class="container">
        <div class="row" style="background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;">
            <div class="col-12">
                <form>
                    <div class="row">
                        <!-- Product Name -->
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder="Movie Name" name="name" value="@ViewBag.name">
                        </div>

                        <!-- Price Range -->
                        <div class="col-md-2">
                            <input type="number" class="form-control" placeholder="Price" name="Price" value="@ViewBag.Price">
                        </div>
                        

                        <!-- Category -->
                        <div class="col-md-2">
                            <select name="categoryId" class="form-control">
                                <option>--Select Category--</option>

                                @foreach (var item in ViewBag.categories)
                                {
                                    if (item.Id == ViewBag.categoryId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>

                        <!-- Brand -->
                        <div class="col-md-2">
                            <select name="cinemaId" class="form-control">
                                <option>--Select Category--</option>
                               

                                @foreach (var item in ViewBag.cinemas)
                                {
                                    if (item.Id == ViewBag.cinemaId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        
                        </div>

                        <!-- Rating -->
                        @* <div class="col-md-2"> *@
                        @*     <select name="rating" class="form-control"> *@
                        @*         <option value="">Any Rating</option> *@
                        @*         <option>option 1</option> *@
                        @*         <option>option 2</option> *@
                        @*         <option>option 3</option> *@
                        @*     </select> *@
                        @* </div> *@

                        <!-- Hot Product Checkbox -->
                        <div class="col-md-1">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="IsHot" value="true" @(ViewBag.isHot is not null && ViewBag.isHot ? "checked" : "")>
                                <label class="form-check-label">Hot</label>
                            </div>
                        </div>

                        <!-- Submit Button -->
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-dark w-100">Filter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Section-->
<div class="container">
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var item in Model)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Category badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">@item.Category.Name</div>
                            <!-- Discount badge-->
                            
                            <!-- Product image-->
                            <img class="card-img-top" src="~/images/@item.MainImg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@item.Name</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        @for (var i = 0; i < item.Rate; i++)
                                        {
                                            <div class="bi-star-fill"></div>
                                        }
                                    </div>
                                   <!-- Product price-->
                                    <span >@item.Price.ToString("c")</span>
                                    
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/Customer/Cinema/Index">Book Me</a></div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="row">
                <nav aria-label="Page navigation example" style="justify-content: center;display: flex;">
                    <ul class="pagination">
                        @if (@ViewBag.CurrentPage > 1)
                        {
                            <li class="page-item"><a class="page-link" href="?page=@(ViewBag.CurrentPage - 1)&name=@ViewBag.Name&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice&categoryId=@ViewBag.categoryId&brandId=@ViewBag.brandId&IsHot=@ViewBag.IsHot">Previous</a></li>
                        }
                        @for (var i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <li class="page-item"><a class="page-link" href="?page=@i&name=@ViewBag.Name&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice&categoryId=@ViewBag.categoryId&brandId=@ViewBag.brandId&IsHot=@ViewBag.IsHot">@i</a></li>
                        }
                        @if (@ViewBag.CurrentPage < ViewBag.TotalPages)
                        {
                            <li class="page-item"><a class="page-link" href="?page=@(ViewBag.CurrentPage + 1)&name=@ViewBag.Name&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice&categoryId=@ViewBag.categoryId&brandId=@ViewBag.brandId&IsHot=@ViewBag.IsHot">Next</a></li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_NotificationPartial" />
}